.example-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;
    visibility: hidden;
}

.example-sidenav-content {
    visibility: visible;
    color: black;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    width: 60px;
    position: absolute;
    top: 50%;
    z-index: 99;
}

.mat-icon-button{
    background-color: darkgray;
}

.example-sidenav {
    visibility: visible;
    width: 85%;
    padding: 10px;
    z-index: 100;
}

.header {
    text-align: center;
    margin-top: 8%;
}

.input-field{
    display: block;
    font-size: 20px;
    margin-top: 6%;
    width: 80%;
    margin-left: 8%;
}

.btn-block{
    font-size: 20px;
    margin-top: 10%;
}

.input-field-span {
    font-size: 17px;
    margin-left: 22%;
} 

.input-field-check {
    font-size: 15px;
    margin-left: 5%;
}

.input-field-input {
    display: block;
    width: 100%;
}