#wrapper {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.opacity{
    opacity: 0.3;
}

.no-opacity{
    opacity: 1;
}

.mat-spinner{
    display: block;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.problemWrapper{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.goBackButton {
    position: fixed;
    top:95%;
    left: 1%;
    z-index: 1000;
}